*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.buttons{
display: grid;

}
.total{
    color: chartreuse;
    text-align: end;
    font-size: medium;
    margin: 100px;
    margin-right: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.item{
    height: 100px;
    font-size: 50px;
    border-radius: 100%;
    margin: 1px;
}